In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Question 1. 
Given the following numpy array 

array  = ([[94, 89, 63],

             [93, 92, 48],

             [92, 94, 56]])

How would you select  the elements in bold and italics from the array?

In [3]:
array  = np.array([[94, 89, 63],

             [93, 92, 48],

             [92, 94, 56]])
array[:2, 1:]

array([[89, 63],
       [92, 48]])

In [5]:
fd = pd.read_csv(r"https://raw.githubusercontent.com/mavet10ment/Hamoyequizz1/main/FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding='latin-1')

Question 2. Perform a groupby operation on ‘Element’.  What year has the highest sum of Stock Variation?

In [6]:
fd.groupby("Element").sum()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,,,,
Domestic supply quantity,708993,14197445,28068795,1996716.35,2021493.55,2044842.70,2088198.10,2161192.10
Export Quantity,599910,11840553,26026133,150020.64,157614.47,151920.46,182338.80,181594.80
Fat supply quantity (g/capita/day),675050,13535000,3435732,10225.56,10235.74,10102.77,10253.84,10258.69
Feed,176272,3538507,7282199,216927.89,225050.22,228958.65,223705.68,233489.68
Food,663295,13285035,25406622,1212332.49,1232361.10,1247022.17,1258888.28,1303841.28
Food supply (kcal/capita/day),674057,13511060,3329296,454257.00,453383.00,451810.00,454681.00,455261.00
Food supply quantity (kg/capita/yr),658446,13185401,3163725,49650.63,49345.13,48985.28,48690.04,49056.85
Import Quantity,688174,13795966,28834929,274144.48,267018.46,286582.78,294559.09,287997.09
Losses,274353,5424803,10292107,153223.00,155439.00,157787.00,160614.00,163902.00
Other uses (non-food),235554,4729749,8926728,78718.13,66254.41,69563.68,91645.97,91300.97
Processing,271940,5350416,10313310,282923.00,287929.00,280631.00,292836.00,308429.00
Production,526751,10450053,21388191,1931287.75,1947019.39,1943537.15,2030056.89,2075072.89
Protein supply quantity (g/capita/day),675050,13535000,3385502,11836.46,11833.95,11779.69,11842.45,11833.56
Residuals,623271,12421089,24066350,30149.00,30045.00,37224.00,35500.00,34864.00
Seed,103537,2035933,4211574,21922.92,23976.82,23389.20,24870.14,25263.14
Stock Variation,571566,11329527,21464704,58749.83,34910.99,33140.12,54316.91,20577.91
Total Population - Both sexes,6020,112545,22995,1031585.00,1058081.00,1085107.00,1112641.00,1140605.00
Tourist consumption,50308,1486528,2869905,416.00,349.00,89.00,91.00,90.00

Question 3. What would be the output for?

S = [['him', 'sell'], [90, 28, 43]]

S[0][1][1]

In [8]:
S = [['him', 'sell'], [90, 28, 43]]

S[0][1][1]

'e'

Question 4. Which of the following dataframe methods can be used to access elements across rows and columns?

In [14]:
fd.iloc[:]

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

Question 5. Which of these python data structures is unorderly?
Answer: set

Question 6.Which year had the least correlation with ‘Element Code’?

In [15]:
fd.groupby("Element Code").corr()

                        Area Code  Item Code     Y2014     Y2015     Y2016  \
Element Code
511          Area Code   1.000000        NaN  0.149348  0.149792  0.150292
             Item Code        NaN        NaN       NaN       NaN       NaN
             Y2014       0.149348        NaN  1.000000  0.999988  0.999951
             Y2015       0.149792        NaN  0.999988  1.000000  0.999987
             Y2016       0.150292        NaN  0.999951  0.999987  1.000000
...                           ...        ...       ...       ...       ...
5911         Y2014       0.005901   0.056301  1.000000  0.976942  0.992694
             Y2015       0.007883   0.050526  0.976942  1.000000  0.965195
             Y2016       0.006203   0.062306  0.992694  0.965195  1.000000
             Y2017       0.005156   0.063080  0.941934  0.863665  0.963790
             Y2018       0.004272   0.063211  0.942024  0.863140  0.963378

                           Y2017     Y2018
Element Code
511          Area Code  0.150840  0.151415
             Item Code       NaN       NaN
             Y2014      0.999885  0.999791
             Y2015      0.999947  0.999878
             Y2016      0.999986  0.999944
...                          ...       ...
5911         Y2014      0.941934  0.942024
             Y2015      0.863665  0.863140
             Y2016      0.963790  0.963378
             Y2017      1.000000  0.999409
             Y2018      0.999409  1.000000

[126 rows x 7 columns]

Question 7. What is the total number of unique countries in the dataset?

In [17]:
len(fd["Area"].unique())

49

Question 8. What is the mean and standard deviation across the whole dataset for the year 2017 to 2 decimal places?

In [19]:
fd.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

Question 9. If you have the following list

lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]

col = [‘Age’,’Nationality’,’Overall’]

How do you create a pandas DataFrame using this list, to look like the table below?

In [20]:
lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]

col = ["Age","Nationality","Overall"]
pd.DataFrame(lst, columns=col, index=[i for i in range (1,4)])

   Age Nationality  Overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92

Question 10. What is the total number and percentage of missing data in 2014 to 3 decimal places?

In [22]:
round(fd["Y2014"].isnull().sum(), 2), round(fd["Y2014"].isnull().mean()*100, 3)

(1589, 2.607)

Question 11. Perform a groupby operation on ‘Element’.  What is the total number of the sum of Processing in 2017

In [23]:
fd.groupby("Element").sum()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,,,,
Domestic supply quantity,708993,14197445,28068795,1996716.35,2021493.55,2044842.70,2088198.10,2161192.10
Export Quantity,599910,11840553,26026133,150020.64,157614.47,151920.46,182338.80,181594.80
Fat supply quantity (g/capita/day),675050,13535000,3435732,10225.56,10235.74,10102.77,10253.84,10258.69
Feed,176272,3538507,7282199,216927.89,225050.22,228958.65,223705.68,233489.68
Food,663295,13285035,25406622,1212332.49,1232361.10,1247022.17,1258888.28,1303841.28
Food supply (kcal/capita/day),674057,13511060,3329296,454257.00,453383.00,451810.00,454681.00,455261.00
Food supply quantity (kg/capita/yr),658446,13185401,3163725,49650.63,49345.13,48985.28,48690.04,49056.85
Import Quantity,688174,13795966,28834929,274144.48,267018.46,286582.78,294559.09,287997.09
Losses,274353,5424803,10292107,153223.00,155439.00,157787.00,160614.00,163902.00
Other uses (non-food),235554,4729749,8926728,78718.13,66254.41,69563.68,91645.97,91300.97
Processing,271940,5350416,10313310,282923.00,287929.00,280631.00,292836.00,308429.00
Production,526751,10450053,21388191,1931287.75,1947019.39,1943537.15,2030056.89,2075072.89
Protein supply quantity (g/capita/day),675050,13535000,3385502,11836.46,11833.95,11779.69,11842.45,11833.56
Residuals,623271,12421089,24066350,30149.00,30045.00,37224.00,35500.00,34864.00
Seed,103537,2035933,4211574,21922.92,23976.82,23389.20,24870.14,25263.14
Stock Variation,571566,11329527,21464704,58749.83,34910.99,33140.12,54316.91,20577.91
Total Population - Both sexes,6020,112545,22995,1031585.00,1058081.00,1085107.00,1112641.00,1140605.00
Tourist consumption,50308,1486528,2869905,416.00,349.00,89.00,91.00,90.00

Quetion 12. What is the total Protein supply quantity in Madagascar in 2015?

In [31]:
fd.groupby(["Area"])["Y2015", "Element"].sum()

<ipython-input-31-364e6c20bf59>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  fd.groupby(["Area"])["Y2015", "Element"].sum()

                                  Y2015
Area
Algeria                       324058.40
Angola                        209565.67
Benin                         108181.13
Botswana                       23024.85
Burkina Faso                  102701.22
Cabo Verde                     14538.93
Cameroon                      225220.72
Central African Republic       28885.34
Chad                           65835.88
Comoros                           41.34
Congo                          40255.51
Côte d'Ivoire                 211591.29
Djibouti                       23690.16
Egypt                         868218.73
Eswatini                       54072.07
Ethiopia                      429139.33
Ethiopia PDR                       0.00
Gabon                          28367.30
Gambia                         19665.39
Ghana                         311092.13
Guinea                         92803.39
Guinea-Bissau                  17990.06
Kenya                         265506.19
Lesotho                        17965.84
Liberia                        28698.10
Madagascar                    126674.90
Malawi                        167989.09
Mali                          132456.58
Mauritania                     61909.99
Mauritius                      53372.42
Morocco                       412473.80
Mozambique                    158231.17
Namibia                        30687.90
Niger                         117834.65
Nigeria                      1414362.83
Rwanda                         70138.83
Sao Tome and Principe          12386.93
Senegal                        91939.14
Seychelles                       358.20
Sierra Leone                   62523.14
South Africa                  468352.18
Sudan                         230652.54
Sudan (former)                     0.00
Togo                           47834.59
Tunisia                       128211.41
Uganda                        220615.72
United Republic of Tanzania   341969.46
Zambia                         96214.00
Zimbabwe                       74041.79

Question 13. Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the highest sum in 2017?

In [33]:
fd.groupby("Area")[["Area", "Y2017"]].sum()

                                  Y2017
Area
Algeria                       325644.27
Angola                        229159.57
Benin                         124771.22
Botswana                       22101.30
Burkina Faso                  101855.07
Cabo Verde                     14650.74
Cameroon                      232030.43
Central African Republic       29937.00
Chad                           71594.68
Comoros                           59.84
Congo                          41181.68
Côte d'Ivoire                 224599.01
Djibouti                       22729.91
Egypt                         866379.92
Eswatini                       54343.33
Ethiopia                      448683.76
Ethiopia PDR                       0.00
Gabon                          27979.64
Gambia                         23154.18
Ghana                         337599.06
Guinea                         98138.87
Guinea-Bissau                  19102.77
Kenya                         264660.66
Lesotho                        21267.96
Liberia                        29342.20
Madagascar                    131197.73
Malawi                        181098.71
Mali                          149928.33
Mauritania                    156665.46
Mauritius                      51114.83
Morocco                       388495.36
Mozambique                    161407.98
Namibia                        29874.89
Niger                         126707.58
Nigeria                      1483268.23
Rwanda                         73663.69
Sao Tome and Principe          12662.63
Senegal                        95681.15
Seychelles                       442.34
Sierra Leone                   55311.33
South Africa                  517590.54
Sudan                         239931.92
Sudan (former)                     0.00
Togo                           49841.88
Tunisia                       124167.20
Uganda                        213950.38
United Republic of Tanzania   322616.85
Zambia                        103223.77
Zimbabwe                       75919.34

Question 14. Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the 7th lowest sum in 2017?

In [34]:
fd.groupby("Area")[["Area", "Y2017"]].sum()

                                  Y2017
Area
Algeria                       325644.27
Angola                        229159.57
Benin                         124771.22
Botswana                       22101.30
Burkina Faso                  101855.07
Cabo Verde                     14650.74
Cameroon                      232030.43
Central African Republic       29937.00
Chad                           71594.68
Comoros                           59.84
Congo                          41181.68
Côte d'Ivoire                 224599.01
Djibouti                       22729.91
Egypt                         866379.92
Eswatini                       54343.33
Ethiopia                      448683.76
Ethiopia PDR                       0.00
Gabon                          27979.64
Gambia                         23154.18
Ghana                         337599.06
Guinea                         98138.87
Guinea-Bissau                  19102.77
Kenya                         264660.66
Lesotho                        21267.96
Liberia                        29342.20
Madagascar                    131197.73
Malawi                        181098.71
Mali                          149928.33
Mauritania                    156665.46
Mauritius                      51114.83
Morocco                       388495.36
Mozambique                    161407.98
Namibia                        29874.89
Niger                         126707.58
Nigeria                      1483268.23
Rwanda                         73663.69
Sao Tome and Principe          12662.63
Senegal                        95681.15
Seychelles                       442.34
Sierra Leone                   55311.33
South Africa                  517590.54
Sudan                         239931.92
Sudan (former)                     0.00
Togo                           49841.88
Tunisia                       124167.20
Uganda                        213950.38
United Republic of Tanzania   322616.85
Zambia                        103223.77
Zimbabwe                       75919.34


Question 15. Which of the following is a python inbuilt module?

In [35]:
help("modules")

Please wait a moment while I gather a list of all available modules...

/usr/local/lib/python3.8/dist-packages/IPython/kernel/__init__.py:12: ShimWarning: The `IPython.kernel` package has been deprecated since IPython 4.0.You should import from ipykernel or jupyter_client instead.
  warn("The `IPython.kernel` package has been deprecated since IPython 4.0."
/usr/local/lib/python3.8/dist-packages/llvmlite/llvmpy/__init__.py:3: UserWarning: The module `llvmlite.llvmpy` is deprecated and will be removed in the future.
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/llvmlite/llvmpy/core.py:8: UserWarning: The module `llvmlite.llvmpy.core` is deprecated and will be removed in the future. Equivalent functionality is provided by `llvmlite.ir`.
  warnings.warn(
WARNING: AstropyDeprecationWarning: The private astropy._erfa module has been made into its own package, pyerfa, which is a dependency of astropy and can be imported directly using "import erfa" [astropy._erfa]
WARNING:astropy:AstropyDeprecationWarning: The private astropy._erfa module has been made into its own package, pyerfa, which is a dependency of astropy and can be imported directly using "import erfa"
/usr/local/lib/python3.8/dist-packages/torch/cuda/__init__.py:497: UserWarning:

Can't initialize NVML

/usr/local/lib/python3.8/dist-packages/past/types/oldstr.py:5: DeprecationWarning:

Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated since Python 3.3, and in 3.10 it will stop working

/usr/local/lib/python3.8/dist-packages/intervaltree/intervaltree.py:37: DeprecationWarning:

Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated since Python 3.3, and in 3.10 it will stop working

/usr/local/lib/python3.8/dist-packages/jupyter_client/ssh/tunnel.py:57: DeprecationWarning:

zmq.utils.strtypes is deprecated in pyzmq 23.

/usr/local/lib/python3.8/dist-packages/librosa/core/constantq.py:1059: DeprecationWarning:

`np.complex` is a deprecated alias for the builtin `complex`. To silence this warning, use `complex` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.complex128` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

Downloading http://dlib.net/files/shape_predictor_68_face_landmarks.dat.bz2 to /root/mlxtend_data/shape_predictor_68_face_landmarks.dat.bz2

/usr/local/lib/python3.8/dist-packages/nbconvert/filters/strings.py:22: DeprecationWarning:

defusedxml.cElementTree is deprecated, import from defusedxml.ElementTree instead.

/usr/local/lib/python3.8/dist-packages/nibabel/quaternions.py:31: DeprecationWarning:

`np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/usr/lib/python3.8/pkgutil.py:92: UserWarning:

The DICOM readers are highly experimental, unstable, and only work for Siemens time-series at the moment
Please use with caution.  We would be grateful for your help in improving them

/usr/local/lib/python3.8/dist-packages/nltk/twitter/__init__.py:20: UserWarning:

The twython library has not been installed. Some functionality from the twitter package will not be available.

/usr/local/lib/python3.8/dist-packages/pip/_vendor/packaging/version.py:111: DeprecationWarning:

Creating a LegacyVersion has been deprecated and will be removed in the next major release

/usr/local/lib/python3.8/dist-packages/pip/_vendor/packaging/version.py:111: DeprecationWarning:

Creating a LegacyVersion has been deprecated and will be removed in the next major release

/usr/lib/python3.8/pkgutil.py:92: UserWarning: Viewer requires Qt
/usr/lib/python3.8/pkgutil.py:92: RemovedIn20Warning: Deprecated API features detected! These feature(s) are not compatible with SQLAlchemy 2.0. To prevent incompatible upgrades prior to updating applications, ensure requirements files are pinned to "sqlalchemy<2.0". Set environment variable SQLALCHEMY_WARN_20=1 to show all deprecation warnings.  Set environment variable SQLALCHEMY_SILENCE_UBER_WARNING=1 to silence this message. (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
/usr/local/lib/python3.8/dist-packages/marshmallow/fields.py:573: RemovedInMarshmallow4Warning: The 'missing' argument to fields is deprecated. Use 'load_default' instead.
/usr/local/lib/python3.8/dist-packages/tensorboard/_vendor/html5lib/filters/sanitizer.py:29: DeprecationWarning: html5lib's sanitizer is deprecated; see https://github.com/html5lib/html5lib-python/issues/443 and please let us know if Bleach is unsuitable for your needs
/usr/local/lib/python3.8/dist-packages/torch/distributed/_sharded_tensor/__init__.py:8: DeprecationWarning: torch.distributed._sharded_tensor will be deprecated, use torch.distributed._shard.sharded_tensor instead
/usr/local/lib/python3.8/dist-packages/torch/distributed/_sharding_spec/__init__.py:8: DeprecationWarning: torch.distributed._sharding_spec will be deprecated, use torch.distributed._shard.sharding_spec instead
No CUDA runtime is found, using CUDA_HOME='/usr/local/cuda'
/usr/lib/python3.8/pkgutil.py:107: VisibleDeprecationWarning: zmq.eventloop.minitornado is deprecated in pyzmq 14.0 and will be removed.
    Install tornado itself to use zmq with the tornado IOLoop.

Cython              colab               jupyterlab_plotly   requests
IPython             collections         jupyterlab_widgets  requests_oauthlib
OpenGL              colorcet            kaggle              requests_unixsocket
PIL                 colorlover          kanren              resampy
__future__          colorsys            kapre               resource
_abc                community           keras               rlcompleter
_ast                compileall          keras_preprocessing rmagic
_asyncio            concurrent          keyword             rpy2
_bisect             confection          kiwisolver          rsa
_blake2             configparser        korean_lunar_calendar runpy
_bootlocale         cons                langcodes           sched
_bz2                contextlib          lib2to3             scipy
_cffi_backend       contextlib2         libfuturize         scs
_codecs             contextvars         libpasteurize       seaborn
_codecs_cn          convertdate         librosa             secrets
_codecs_hk          copy                lightgbm            select
_codecs_iso2022     copyreg             linecache           selectors
_codecs_jp          crashtest           llvmlite            send2trash
_codecs_kr          crcmod              lmdb                setuptools
_codecs_tw          crypt               locale              setuptools_git
_collections        csimdjson           locket              shapely
_collections_abc    csv                 logging             shelve
_compat_pickle      ctypes              lsb_release         shlex
_compression        cufflinks           lunarcalendar       shutil
_contextvars        curses              lxml                signal
_crypt              cv2                 lzma                simdjson
_csv                cvxopt              mailbox             site
_ctypes             cvxpy               mailcap             sitecustomize
_ctypes_test        cycler              markdown            six
_curses             cymem               markupsafe          skimage
_curses_panel       cython              marshal             sklearn
_cvxcore            cythonmagic         marshmallow         sklearn_pandas
_datetime           daft                math                slugify
_dbm                dask                matplotlib          smart_open
_dbus_bindings      dataclasses         matplotlib_venn     smtpd
_dbus_glib_bindings datascience         mimetypes           smtplib
_decimal            datetime            missingno           sndhdr
_distutils_hack     dateutil            mistune             snowballstemmer
_dlib_pybind11      db_dtypes           mizani              socket
_dummy_thread       dbm                 mlxtend             socketserver
_ecos               dbus                mmap                socks
_elementtree        debugpy             modulefinder        sockshandler
_functools          decimal             more_itertools      softwareproperties
_hashlib            decorator           moviepy             sortedcontainers
_heapq              defusedxml          mpmath              soundfile
_imp                descartes           msgpack             spacy
_io                 difflib             multidict           spacy_legacy
_json               dill                multipledispatch    spacy_loggers
_locale             dis                 multiprocessing     sphinx
_lsprof             distributed         multitasking        spwd
_lzma               distutils           murmurhash          sql
_markupbase         dlib                music21             sqlalchemy
_md5                dns                 natsort             sqlite3
_multibytecodec     docs                nbconvert           sqlparse
_multiprocessing    doctest             nbformat            sre_compile
_opcode             docutils            netCDF4             sre_constants
_operator           dopamine            netrc               sre_parse
_osx_support        dot_parser          networkx            srsly
_pickle             dummy_threading     nibabel             ssl
_plotly_future_     easydict            nis                 stan
_plotly_utils       ecos                nisext              stat
_posixshmem         editdistance        nltk                statistics
_posixsubprocess    ee                  nntplib             statsmodels
_py_abc             email               notebook            storemagic
_pydecimal          en_core_web_sm      ntpath              string
_pyio               encodings           nturl2path          stringprep
_pyrsistent_version entrypoints         numba               struct
_pytest             enum                numbergen           subprocess
_queue              ephem               numbers             sunau
_random             erfa                numexpr             symbol
_rinterface_cffi_abi errno               numpy               sympy
_rinterface_cffi_api et_xmlfile          oauth2client        sympyprinting
_scs_direct         etils               oauthlib            symtable
_scs_indirect       etuples             ogr                 sys
_sha1               fa2                 okgrade             sysconfig
_sha256             fastai              opcode              syslog
_sha3               fastcore            openpyxl            tables
_sha512             fastdownload        operator            tabnanny
_signal             fastdtw             opt_einsum          tabulate
_sitebuiltins       fastjsonschema      optparse            tarfile
_socket             fastprogress        os                  tblib
_soundfile          fastrlock           osgeo               telnetlib
_sqlite3            faulthandler        osqp                tempfile
_sre                fcntl               osqppurepy          tenacity
_ssl                feather             osr                 tensorboard
_stat               filecmp             ossaudiodev         tensorboard_data_server
_statistics         fileinput           packaging           tensorboard_plugin_wit
_string             filelock            palettable          tensorflow
_strptime           firebase_admin      pandas              tensorflow_datasets
_struct             fix_yahoo_finance   pandas_datareader   tensorflow_estimator
_symtable           flask               pandas_gbq          tensorflow_gcs_config
_sysconfigdata__linux_x86_64-linux-gnu flatbuffers         pandas_profiling    tensorflow_hub
_sysconfigdata__x86_64-linux-gnu fnmatch             pandocfilters       tensorflow_io_gcs_filesystem
_testbuffer         folium              panel               tensorflow_metadata
_testcapi           formatter           param               tensorflow_probability
_testimportmultiple fractions           parser              termcolor
_testinternalcapi   frozenlist          parso               terminado
_testmultiphase     fsspec              partd               termios
_thread             ftplib              past                test
_threading_local    functools           pasta               testpath
_tkinter            functorch           pastel              tests
_tracemalloc        future              pathlib             text_unidecode
_uuid               gast                pathy               textblob
_warnings           gc                  patsy               textwrap
_weakref            gdal                pdb                 thinc
_weakrefset         gdalconst           pep517              this
_xxsubinterpreters  gdalnumeric         pexpect             threading
_xxtestfuzz         gdown               pickle              threadpoolctl
_yaml               genericpath         pickleshare         tifffile
abc                 gensim              pickletools         time
absl                geographiclib       pip                 timeit
aeppl               geopy               pipes               tkinter
aesara              getopt              piptools            tlz
aifc                getpass             pkg_resources       token
aiohttp             gettext             pkgutil             tokenize
aiosignal           gi                  platform            toml
alabaster           gin                 platformdirs        tomli
albumentations      glob                plistlib            toolz
altair              glob2               plotly              torch
antigravity         google_auth_httplib2 plotlywidget        torchaudio
apiclient           google_auth_oauthlib plotnine            torchgen
appdirs             google_crc32c       pluggy              torchsummary
apt                 google_drive_downloader pooch               torchtext
apt_inst            googleapiclient     poplib              torchvision
apt_pkg             googlesearch        portpicker          tornado
aptsources          graphviz            posix               tqdm
argparse            greenlet            posixpath           trace
array               gridfs              pprint              traceback
arviz               grp                 prefetch_generator  tracemalloc
ast                 grpc                preshed             traitlets
astor               grpc_status         prettytable         tree
astropy             gspread             profile             tty
astunparse          gspread_dataframe   progressbar         turtle
async_timeout       gym                 prometheus_client   tweepy
asynchat            gym_notices         promise             typeguard
asyncio             gzip                prompt_toolkit      typer
asyncore            h5py                prophet             types
atari_py            hashlib             proto               typing
atexit              heapdict            pstats              typing_extensions
atomicwrites        heapq               psutil              tzlocal
attr                hijri_converter     psycopg2            unicodedata
attrs               hmac                pty                 unification
audioop             holidays            ptyprocess          unittest
audioread           holoviews           pwd                 uritemplate
autograd            html                py                  urllib
autoreload          html5lib            py_compile          urllib3
babel               http                pyarrow             uu
backcall            httpimport          pyasn1              uuid
base64              httplib2            pyasn1_modules      vega_datasets
bdb                 httpstan            pyclbr              venv
bin                 humanize            pycocotools         vis
binascii            hyperopt            pycparser           warnings
binhex              idna                pyct                wasabi
bisect              imageio             pydantic            wave
bleach              imagesize           pydata_google_auth  wcwidth
blis                imaplib             pydoc               weakref
bokeh               imblearn            pydoc_data          webargs
boost               imgaug              pydot               webbrowser
branca              imghdr              pydot_ng            webencodings
bs4                 imp                 pydotplus           werkzeug
bson                importlib           pydrive             wheel
builtins            importlib_metadata  pyemd               widgetsnbextension
bz2                 importlib_resources pyexpat             wordcloud
cProfile            imutils             pygments            wrapt
cachecontrol        inflect             pygtkcompat         wsgiref
cachetools          inspect             pylab               xarray
calendar            intervaltree        pylev               xarray_einstats
catalogue           io                  pymc                xdrlib
certifi             ipaddress           pymeeus             xgboost
cffi                ipykernel           pymongo             xkit
cftime              ipykernel_launcher  pymystem3           xlrd
cgi                 ipython_genutils    pyparsing           xlwt
cgitb               ipywidgets          pyrsistent          xml
chardet             isympy              pytest              xmlrpc
charset_normalizer  itertools           python_utils        xxlimited
chunk               itsdangerous        pytz                xxsubtype
clang               jax                 pyviz_comms         yaml
click               jaxlib              pywt                yarl
client              jieba               pyximport           yellowbrick
clikit              jinja2              qdldl               zict
cloudpickle         joblib              qudida              zipapp
cmake               jpeg4py             queue               zipfile
cmath               json                quopri              zipimport
cmd                 jsonschema          random              zipp
cmdstanpy           jupyter             re                  zlib
code                jupyter_client      readline            zmq
codecs              jupyter_console     regex
codeop              jupyter_core        reprlib

Enter any module name to get more help.  Or, type "modules spam" to search
for modules whose name or summary contain the string "spam".

Question 16. Answer the following questions based on the African food production dataset provided by the FAO website already provided

What is the total sum of Wine produced in 2015 and 2018 respectively?

Hint:

Perform a groupby sum aggregation on ‘Item’

In [37]:
fd.groupby("Item")[["Y2015", "Y2018"]].sum()

                         Y2015      Y2018
Item
Alcohol, Non-Food      2180.00    2293.00
Alcoholic Beverages   98783.72   97847.27
Animal Products       11811.73   11578.61
Animal fats          200675.72  269648.27
Apples and products   10559.15    9640.51
...                        ...        ...
Vegetables, Other    158104.08  163987.21
Vegetal Products     107064.17  107775.39
Wheat and products   234710.51  242645.19
Wine                   4251.81    4039.32
Yams                 203151.78  221272.09

[119 rows x 2 columns]

Question 17. Given the following python code, what would the output of the code give?

my_tuppy = (1,2,5,8)

my_tuppy[2] = 6

In [38]:
my_tuppy = (1,2,5,8)

my_tuppy[2] = 6

TypeError: ignored

Question 18. A pandas Dataframe with dimensions (100,3) has how many features and observations?
 Answer: 3 features, 100 observations

Question 19. How would you check for the number of rows and columns in a pandas DataFrame named df?

In [39]:
fd.shape

(60943, 12)

Question 20. Consider the following list of tuples:

y = [(2, 4), (7, 8), (1, 5, 9)]

How would you assign element 8 from the list to a variable x?

In [42]:
y = [(2, 4), (7, 8), (1, 5, 9)]

x = y[1][-1]